/*
* {
  outline: 1px dotted orange;
}
*/
body {
  width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p {
  color: #444;
}

input[type=text] {
  width: 200px;
  line-height: 30px;
}

.transparent {
  opacity: 0;
}

h2 {
  font-family: Geneva, serif;
  font-size: 36px;
}

table {
  font-size: 24px;
  font-family: 'Share Tech';
  margin: 0 auto;
  text-align: center;
}

thead {
  font-weight: bold;
}

tr {
  padding: 10px;
}

td {
  padding: 10px;
}
